<!DOCTYPE html>
<html ng-app="ors">
<head lang="en">
    <meta charset="UTF-8">
    <title>Office Rental Service</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href="/lib/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/toastr/angular-toastr.min.css" type="text/css">
    <link href="/css/core.css" rel="stylesheet"/>
    <link href="/css/home.css" rel="stylesheet"/>

    <script src="/lib/jquery-1.11.3.min.js" type="application/javascript"></script>
    <script src="/lib/angularjs/angular.min.js" type="application/javascript"></script>
    <script src="/lib/angularjs/i18n/angular-locale_vi-vn.js" type="application/javascript"></script>
    <script type="text/javascript" src="/lib/angularjs/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/angularjs/angular-animate.min.js"></script>

    <!--Toastr-->
    <script type="text/javascript" src="/lib/toastr/angular-toastr.tpls.js"></script>

    <!--slide-->
    <script type="text/javascript" src="/lib/angularjs/ui-bootstrap-tpls-0.13.0.min.js"></script>

    <!--map-->
    <script type="text/javascript"
            src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqyea-vS2GTEOV_z23da9gN-sp2LoiGvI">
    </script>
    <script src='//www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript" src="/lib/fullcalendar-2.3.2/lib/moment.min.js"></script>
    <script type="text/javascript" src="/lib/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/javascript/app.js" type="application/javascript"></script>
    <script src="/javascript/controller/HomeController.js" type="application/javascript"></script>
    <script src="/javascript/controller/OfficeListController.js" type="application/javascript"></script>
    <script src="/javascript/controller/DetailController.js" type="application/javascript"></script>
    <script src="/javascript/controller/RequestController.js" type="application/javascript"></script>
    <script src="/javascript/controller/RequestRepairController.js" type="application/javascript"></script>
    <script src="/javascript/controller/LoginController.js" type="application/javascript"></script>
    <script src="/javascript/controller/ContractController.js" type="application/javascript"></script>
    <script src="/javascript/controller/MenuController.js" type="application/javascript"></script>
    <script src="/javascript/controller/ContractDetailController.js" type="application/javascript"></script>
    <script src="/javascript/controller/RepairController.js" type="application/javascript"></script>
    <script src="/javascript/controller/RentalController.js" type="application/javascript"></script>
    <script src="/javascript/controller/RegisterController.js" type="application/javascript"></script>
    <script src="/javascript/controller/OfficeRentalController.js" type="application/javascript"></script>
    <script src="/javascript/controller/OfficeRentalCartController.js" type="application/javascript"></script>
    <script src="/javascript/controller/RequestOfficeController.js" type="application/javascript"></script>
    <script src="/javascript/controller/ProfileController.js" type="application/javascript"></script>
    <script src="/javascript/controller/ProfileDetailController.js" type="application/javascript"></script>
    <script src="/javascript/controller/ChangePassController.js" type="application/javascript"></script>
    <script src="/javascript/controller/RepairHistoryController.js" type="application/javascript"></script>
    <script src="/javascript/controller/ContractReturnController.js" type="application/javascript"></script>
    <script src="/javascript/controller/ContractExtendController.js" type="application/javascript"></script>
    <script src="/javascript/controller/resultRequestOfficeController.js" type="application/javascript"></script>

    <script src="/javascript/services/ApiService.js" type="application/javascript"></script>
    <script src="/javascript/services/ShoppingCartService.js" type="application/javascript"></script>
</head>
<body ng-controller="MenuController">
<header>
    <div class="container container-100 header-wrapper">
        <div class="logo-service left">
            <a href="#/">
                <img src="/img/logo-black.png">
                Office Rental Service
            </a>
        </div>
        <div class="request-office right">
            <a href="#/requestOffice">Đặt văn phòng</a>
        </div>
        <div class="middle-header">
            <i class="fa fa-phone"></i>

            <span class="phone-number">0163016405</span>
        </div>
    </div>
</header>
<nav>
    <div class="container container-100 navigation-wrapper">
        <ul class="left menu-wrapper default">
            <li>
                <a href="#/">Tìm văn phòng</a>
            </li>
            <li ng-show="isLogin">
                |
            </li>
            <li ng-show="isLogin">
                <a href="#/contractList">Hợp đồng của bạn</a>
            </li>
            <li ng-show="isLogin">
                |
            </li>
            <li ng-show="isLogin">
                <a href="#/resultRequestOffice">Yêu cầu văn phòng của bạn</a>
            </li>
        </ul>
        <ul class="right login-wrapper default" ng-show="!isLogin">
            <li>
                <a href="" ng-click="login()">Đăng nhập</a>
            </li>
            <li>
                <a href="" ng-click="register()">Đăng ký</a>
            </li>
        </ul>
        <ul class="right" ng-show="isLogin">
            <div class="btn-group wrapper" dropdown is-open="status.isopen">
                <a href="" class="dropdown-toggle name" dropdown-toggle ng-disabled="disabled">
                    Chào mừng, {{fullName}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/profile">Thông tin cá nhân</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="logout()">Đăng xuất</a></li>
                </ul>
            </div>
        </ul>
    </div>
</nav>
<div class="">
    <div ng-view style="min-height: 350px"></div>
</div>

<footer>
    <div class="container container-100 footer-wrapper">
        <div class="logo-service left">Office Rental Service</div>
        <div class="footer-contact right">
            <div>
                <i class="fa fa-phone"></i>

                <span class="phone-number">0163016405</span>
            </div>
            <div class="social-wrapper">
                <ul>
                    <li>
                        <img src="../img/icon-facebook.png">
                    </li>
                    <li>
                        <img src="../img/icon-google.png">
                    </li>
                    <li>
                        <img src="../img/icon-linkedin.png">
                    </li>
                    <li>
                        <img src="../img/icon-twiter.png">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>