Update Office set OwnerAddress = N'133 Quang Trung, Quận 12, HCM', OwnerName = N'Trần Quang', OwnerPhone='0988465148'

Update Office set OwnerAddress = N'514 Trường Chinh, Quận Gò Vấp, HCM', OwnerName = N'Trần Trí', OwnerPhone='0815434178'
where Id < 70

Update Office set OwnerAddress = N'35 Tô Ký, Quận 12, HCM', OwnerName = N'Lê Mai', OwnerPhone='0951113324'
where Id < 63

Update Office set OwnerAddress = N'41 Trần Hưng Đạo, Quận 1, HCM', OwnerName = N'Nguyễn Đức', OwnerPhone='0166584158'
where Id < 51