#legend {
    margin-top: 200px;
}
.legend {
    padding: 10px;
}
.legend .color {
    float: left;
    width: 50px;
    height: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}
.legend .name {
    float: left;
    font-weight: bold;
    padding: 0 3px;
    line-height: 15px;
}