div.main {
    height: auto;
    width: auto;
    position: static;
}

#left {
    /*background-color: rgba(255, 0, 0, 0.42);*/
    width: 28%;
    float: left;
    padding: 1%;
}

#up {

    float: left;
    width: 100%;
    padding: 1%;

}

#mid {

    float: left;
    width: 100%;
    padding-bottom: 1%;
}

#down {

    width: 100%;
    float: left;
    padding: 1%;
    text-align: center;

}

#right {
    width: 68%;
    height: auto;
    /*background-color: green;*/
    float: right;
    padding: 1%;
}

#image {
    width: 98%;
    height: 330px;
    border-left: 1px solid;
    float: left;
    text-align: center;
    padding: 1%;
}

#amenity {
    width: 98%;
    background-color: #B5B5B5;
    border-top: 1px solid;
    border-left: 1px solid;
    float: left;
    padding: 1%;
    text-align: center;
}

#amenity li {
    width: 25%;
    float: left;
    padding: 1%;
    text-align: left;
}

#description {
    width: 98%;
    border-top: 1px solid;
    border-left: 1px solid;
    float: left;
    padding: 1%;
}

#location {
    width: 98%;
    border-top: 1px solid;
    border-left: 1px solid;
    float: left;
    padding: 1%;

}

#map-canvas {
    height: 500px;
    padding: 1%;
}

hr.line {
    width: 80%;
    text-align: center;
}


.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
    margin: 20px;
}

h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

h1.detail {
    padding-bottom: 25px;

}
