#loginform {
    background: #F1F1F1 none repeat scroll 0% 0%;
    padding: 26px 24px 24px;
}

#login {
    width: 320px;
    padding: 3% 0px 0px;
    margin: auto;
    /*float: left;*/
    background: #FFF none repeat scroll 0% 0%;
}



.submit {
    padding: 0px 12px 2px;
    float: right;
}

.other {
    padding-top: 10px;
}

.other a {
    color: #337ab7;
}