.form-group {
  padding: 5px 10px;
  :disabled {
    background-color: #dddddd;
  }
  label {
    display: inline-block;
  }
}
.form-group {
  margin-bottom: 10px !important;
}

.upload-img {
  float: left;
  padding: 5px;
  .img {
    height: 120px;
    img {
      height: 100%;
    }
  }

  .remove {
    text-align: center;
    color: rgba(212, 0, 3, 0.7);
    cursor: hand;
  }
}

#amenity-list {
  padding: 10px;
  div {
    font-family: Helvetica, Arial, sans-serif;
    background: #588fe5;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 5px 15px;
    text-decoration: none;
    &:before {
      background: #fff;
      width: 10px;
      height: 10px;
      content: "";
      display: inline-block;
      border-radius: 20px;
      margin: 0 5px 0 0;
    }
    &:after {
      display: inline-block;
      border: 19px solid;
      border-color: transparent transparent transparent #588fe5;
      height: 0;
      width: 0;
      position: absolute;
      right: -38px;
      top: 0;
      content: "";
    }
    span {
      cursor: hand;
    }
  }
}

#autocomplete {
  margin: 10px;
}
#autocomplete .label {
  color: #58666e;
  vertical-align: middle;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#map-canvas {
  height: 500px;
  margin: 0px;
  padding: 0px
}

.onoffswitch {
  position: relative; width: 67px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 17px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
  font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Có";
  padding-left: 8px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "Không";
  padding-right: 8px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 12px; margin: 4px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 45px;
  border: 2px solid #999999; border-radius: 17px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

