.rental-wrapper {

}

.rental-wrapper .item {
    height: auto;
    margin: 15px 0;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #b5d334;
}

.rental-wrapper .item:hover {
}

.rental-wrapper .item:hover .btn {
    opacity: 1;
}

.rental-wrapper .item .btn {
    opacity: 0;
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out    ;
}

.rental-wrapper .item .image {
    background-size: 100% 100%;
    height: 300px;
    margin: auto;
}

.rental-wrapper .item .detail {

}

.rental-wrapper .item .title {
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
}

.rental-wrapper .list-group-item.active,
.rental-wrapper .list-group-item.active:hover,
.rental-wrapper .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.truncate-one-line-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}