
.left-request {
    padding: 10px;
    width: 45%;
    float: left;
}
.right-request {
    padding: 20px;
    float: left;
    width: 480px;
    border-left: 1px solid #b5b5b5;
}
.right-info {
    padding: 40px;
    float: left;
    width: 480px;
    border-left: 1px solid #b5b5b5;
}
.title {
    font-size: larger;
    font-weight: bold;
    padding: 0 10px;
}
.office {
    padding: 0 10px;
}
.office .img {
    float: left;
    width: 100%;
    padding: 10px 0;
}
.office .img img {
    width: 100%;
}
.office-title {
    float: left;
    padding: 10px;
}
.info {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b5b5b5;
}
.info p {
    line-height: 2.3rem;
    font-weight: 300;
    color: #1d1d1d;
    margin-bottom: 0.8rem;
}
.error {
    color: #ef4836;
}

input.ng-dirty.ng-invalid {
    border-color: #ef4836;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 78, 72, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 78, 72, 0.6);
}

.errorpass {
    border-color: red;
}
.checkbox.amenity {
    padding-left: 50px;
    margin: 5px 0;
}

.amenity-item {
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    background: #588fe5;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 4px 12px;
    border-radius: 11px;
    margin: 5px 10px;
    text-decoration: none;
}