.descriptionRepair {
    padding: 5px;
}
.descriptionRepair td {
    vertical-align: middle;
}
.labelleft {
    width: 15%;
}

.spanleft {
    padding-left: 10px;
}

.right-infoRepair {
    padding: 40px;
    float: left;
    width: 60%;
    border-left: 1px solid #b5b5b5;
}

.left-infoRepair {
    padding: 10px;
    width: 40%;
    float: left;
}