<!--<link rel="stylesheet" type="text/css" href="../css/login.css"/>-->
<div class="modal-header">
    <h3 class="modal-title">Gia hạn hợp đồng</h3>
</div>
<form name="form">
    <div class="modal-body">
        <h4>Bạn đang yêu cầu gia hạn hợp đồng.
            Chúng tôi sẽ sớm liên lạc với bạn để xác nhận.</h4>
        <h4>Nhấn "Đồng ý" để xác nhận</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-green" type="submit" ng-click="contractExtend(form)">Đồng ý</button>
        <button class="btn btn-default" ng-click="cancel()">Hủy</button>
    </div>
</form>