<!--<link rel="stylesheet" type="text/css" href="../css/login.css"/>-->
<div class="modal-header">
    <h3 class="modal-title">Hủy hợp đồng trước hạn</h3>
</div>
<form name="form">
    <div class="modal-body">
        <h4>Bạn đang yêu cầu hủy hợp đồng trước hạn.
            Chúng tôi sẽ liên lạc với bạn để xác nhận và bàn giao văn phòng trong thời gian sớm nhất.</h4>
        <h4>Nhấn "Đồng ý" để xác nhận</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-green" type="submit" ng-click="contractReturn(form)">Đồng ý</button>
        <button class="btn btn-default" ng-click="cancel()">Hủy</button>
    </div>
</form>