<link rel="stylesheet" type="text/css" href="../css/contract.css"/>

<div class="container" ng-show="RightCus">
    <h2>Chi tiết hợp đồng</h2>
    <br>

    <div class="form-group">
        <label>Tên văn phòng</label>
        {{data.officeName}}
        <a href="#/requestRepair/{{data.contractId}}" class="btn btn-green" style="padding: 3px;">
            Yêu cầu sửa chữa</a>
    </div>
    <div class="form-group">
        <label>Ngày bắt đầu</label>
        {{data.startDay}}
    </div>
    <div class="form-group">
        <label>Ngày hết hạn</label>
        {{data.endDay}}
        <span ng-if="data.status == 1">
            <a ng-click="contractReturn()" class="btn btn-green color9-bg" style="padding: 3px;">Hủy hợp đồng trước hạn</a>
            <a ng-click="contractExtend()" class="btn btn-green color7-bg" style="padding: 3px;">Gia hạn hợp đồng</a>
        </span>
        <span ng-if="data.status == 2" class="contract-status color9-bg">Đang yêu cầu hủy hợp đồng trước hạn</span>
        <span ng-if="data.status == 3" class="contract-status color7-bg">Đang yêu cầu gia hạn hợp đồng</span>
    </div>
    <div class="form-group">
        <label>Điều khoản giá</label>
        {{data.price}} VND / tháng, trả trong {{data.paymentTerm}}
    </div>
    <br>

    <div ng-show="!Rentaled">
        <h4>Danh sách thuê thiết bị hiện tại</h4>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Tên thiết bị</th>
                <th>Mô tả</th>
                <th>Giá thuê (VNĐ)</th>
                <th>Số lượng (cái)</th>
                <th>Thành tiền (VNĐ)</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="item in rentalList">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.unitPrice}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
            </tr>
            <tr>
                <td colspan="4" class="sum"><b>Tổng cộng (VNĐ)</b></td>
                <td>{{total}}</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="button-post">
        <a href="#/rental/{{data.contractId}}" class="btn btn-green">Yêu cầu thuê thiết bị</a> <br>
    </div>
</div>
<div class="container" ng-show="WrongCus">
    <h2>Bạn không sở hữu hợp đồng này!</h2>
    <br>
    <br>

    <div class="button-post">
        <a href="#/home" class="btn btn-green">Quay về trang chủ</a> <br>
    </div>
</div>
<div class="container" ng-show="Expire">
    <h2 class="error">{{error}}</h2>
    <br>
    <br>

    <div class="button-post">
        <a href="#/home" class="btn btn-green">Quay về trang chủ</a> <br>
    </div>
</div>
<div class="container" ng-show="!isLogin">
    <h2>Vui lòng đăng nhập để xem thông tin</h2>
    <br>
    <br>

    <div class="button-post">
        <a href="#/home" class="btn btn-green">Quay về trang chủ</a> <br>
    </div>
</div>