<!--<link rel="stylesheet" type="text/css" href="../css/login.css"/>-->
<div class="modal-header">
    <h3 class="modal-title">Hủy hợp đồng trước hạn</h3>
</div>
<form name="form">
    <div class="modal-body">
        <h4 style="padding-bottom: 5px;">Điều khoản hủy hợp đồng</h4>
        - Nếu bên B muốn chấm dứt hợp đồng trước thời hạn thì phải thông báo trước cho bên A ít nhất 1 tháng.
        Bên A sẽ hoàn trả lại cho Bên B tiền đặt cọc và tiền thuê văn phòng còn thừa của Bên B (nếu có)<br>
        - Nếu Bên B chấm dứt hợp đồng trước thời hạn mà không tuân thủ quy định nói trên, Bên B sẽ mất tiền đặt cọc.
    </div>
    <div class="modal-footer">
        <button ng-show="first" class="btn btn-green" type="submit" ng-click="contractReturn(form)">Hủy hợp đồng</button>
        <button ng-show="second" class="btn btn-green" type="submit" ng-click="contractReturnAfter(form)">Hủy hợp đồng sau 1 tháng</button>
        <button class="btn btn-default" ng-click="cancel()">Hủy</button>
    </div>
</form>