<link rel="stylesheet" type="text/css" href="../css/detail.css"/>
<div class="container">
    <div id="left">
        <div id="up">
            <h1>{{officeDetail.name}}
                <hr class="line"/>
            </h1>
        </div>
        <div id="mid">
            <h4 style="padding-bottom: 10px">Mẫu dịch vụ văn phòng</h4>
            Giá: {{officeDetail.price?officeDetail.price:'Liên hệ'}}<br/>
            Đơn vị: {{officeDetail.priceTerm}}<br/>
            Loại: {{officeDetail.category}}<br/>
            Tầng: {{officeDetail.floorNumber}}<br/>
            Diện tích: {{officeDetail.area}} m2<br/>
            Địa chỉ: {{officeDetail.address}}<br/>
            Tình trạng: {{officeDetail.status}}
            <hr class="line"/>

        </div>
        <div id="down">
            <!--<input type="button" value="Request"/>-->
            <a href="#/request/{{officeDetail.id}}" class="btn btn-default">Gửi yêu cầu</a>
        </div>
    </div>
    <div id="right">
        <div id="image" >
            <!--<img src="../img/office.jpg">-->

            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <!--<h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>-->
                    </div>
                </slide>
            </carousel>


        </div>
        <div id="amenity">
            <ul>
                <li ng-repeat="amenity in officeDetail.amenities">{{amenity}}</li>
            </ul>
        </div>
        <div id="description">
            <h1 class="detail">Mô tả</h1>

            <p>{{officeDetail.description}}</p>

        </div>
        <div id="location">
            <h1 class="detail">Vị trí bản đồ</h1>

            <div id="map-canvas"></div>
        </div>

    </div>
</div>
