<link rel="stylesheet" type="text/css" href="../css/detail.css"/>
<div class="container">
    <div id="left">
        <div id="up">
            <h1>{{officeDetail.name}}
                <hr class="line"/>
            </h1>
        </div>
        <div id="mid">
            <h4 style="padding-bottom: 10px">{{officeDetail.category}}</h4>
            <div><label>Giá:</label>
                <div ng-if="!officeDetail.price">Liên hệ</div>
                <div ng-if="officeDetail.price">
                    <div ng-if="officeDetail.priceTerm=='Nguyên căn'">
                        {{officeDetail.price | currency:'VND':0}}
                        <span>Nguyên căn / Tháng</span>
                        <div>
                            ({{officeDetail.price / officeDetail.area | round | currency:'VND':0}}
                            <span>Trên m<sup>2</sup> / Tháng</span>)
                        </div>
                    </div>
                    <div ng-if="officeDetail.priceTerm!='Nguyên căn'">
                        {{officeDetail.price | currency:'VND':0}}
                        <span ng-if="officeDetail.price"
                             ng-bind-html="officeDetail.priceTerm+' / Tháng' | m2"></span>
                    </div>
                </div>
            </div>
            <div><label>Số tầng:</label> {{officeDetail.floorNumber}}</div>
            <div><label>Diện tích:</label> {{officeDetail.area | number:0}} m<sup>2</sup></div>
            <div ng-hide="officeDetail.category=='Văn phòng nguyên căn'">
                <label>Diện tích thuê tối thiểu:</label> {{officeDetail.minArea}} m<sup>2</sup>
            </div>
            <div><label>Thời gian thuê tối thiểu:</label> {{officeDetail.minTime}} tháng</div>
            <div><label>Địa chỉ:</label> {{officeDetail.address}}</div>

            <hr class="line"/>
            <h4 style="padding-bottom: 10px">Tiện nghi</h4>
            <ul>
                <li ng-repeat="amenity in amenities track by $index">+ {{amenity}}</li>
            </ul>
            <hr class="line"/>
        </div>
        <div id="down">
            <!--<input type="button" value="Request"/>-->
            <a href="#/request/{{officeDetail.id}}" class="btn btn-green">Đặt lịch hẹn xem văn phòng</a>
        </div>
    </div>
    <div id="right">
        <div id="image" >
            <!--<img src="../img/office.jpg">-->

            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;height: 100%;">
                    <div class="carousel-caption">
                        <!--<h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>-->
                    </div>
                </slide>
            </carousel>


        </div>
        <!--<div id="amenity">

        </div>-->
        <div id="description">
            <h1 class="detail">Mô tả</h1>

            <p style="white-space: pre-line;">{{officeDetail.description}}</p>

        </div>

        <div id="location">
            <h1 class="detail">Vị trí bản đồ</h1>

            <div id="map-canvas"></div>
        </div>

        <div id="relative">
            <h3 class="detail">Văn phòng tương tự</h3>

            <div class="relative-office">
                <ul>
                    <li ng-repeat="item in relativeOffices">
                        <div class="relative-img">
                            <a href="" ng-click="goto(item.id)">
                                <img ng-src="{{item.images[0]}}">
                            </a>
                        </div>
                        <div class="relative-title"><a href="" ng-click="goto(item.id)">{{item.name}}</a></div>
                        <div class="relative-desc">{{item.description}}</div>
                        <div class="relative-price">{{item.price | currency:'VND':0}} <span ng-bind-html="item.priceTerm | m2"></span></div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
