<style>
    input[type="text"], select {
        height: 35px;
        border-radius: 3px;
        padding-left: 10px;
        font-size: 14px;
        background: #fff;
        border: 1px solid #BDC4C9;
        box-shadow: inset 0px 1px 0px #F1F0F1;
    }
</style>
<div class="home-wrapper">
    <div class="search-wrapper">
        <div class="container">
            <div class="search-title">Tìm kiếm văn phòng của bạn</div>
            <fieldset class="search-field">
                <div class="search-line row">
                    <div class="col-md-12" style="padding: 0">
                        <span class="search-label">Địa chỉ</span>


                        <div class="search-input">
                            <input type="text" ng-model="searchKey" style="width: 100%"
                                   placeholder="quận, huyện, địa chỉ,..." googleplace/>
                            <input type="hidden" ng-model="place.latitude" id="latitude">
                            <input type="hidden" ng-model="place.longitude" id="longitude">
                        </div>
                    </div>
                </div>
                <div class="search-line row">
                    <div class="col-md-6" style="padding: 0">
                        <span class="search-label">Khoảng giá</span>

                        <div class="search-input">
                            <select ng-model="priceRange" style="width: 95%">
                                <option value="0">Thỏa thuận</option>
                                <option value="1">100.000 - 200.000</option>
                                <option value="2">200.000 - 300.000</option>
                                <option value="3">300.000 - 400.000</option>
                                <option value="4">400.000 - 500.000</option>
                                <option value="5">&gt; 500.000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding: 0">
                        <button class="btn btn-green" style="width: 100%" ng-click="searchListOffice()">
                            Tìm kiếm
                        </button>
                    </div>

                </div>

                <div class="search-line row">
                    <h3 style="text-align: center;">
                        <a href="#/requestOffice" class="btn btn-green" style="  width: 100%;line-height: 26px;font-size: 20px;font-weight: 600;">Đặt yêu cầu văn phòng</a>
                    </h3>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="new-office-wrapper">
        <div class="container">
            <div class="title">Văn phòng được quan tâm</div>
            <div class="row">
                <div class="col-md-8" style="padding: 0">
                    <div class="first-row" style="margin-bottom: 10px">
                        <div class="item">
                            <a href="#/detail/{{listNewOffice[0].id}}">
                                <img src="../img/office1.jpg" ng-src="{{listNewOffice[0].images[0]}}" height="215" width="49%">

                                <div class="item-detail" style="width: 99%">
                                    <div class="item-city">{{listNewOffice[0].name}}</div>
                                    <div class="item-description">{{listNewOffice[0].description}}</div>
                                    <div class="item-district">{{listNewOffice[0].address}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#/detail/{{listNewOffice[1].id}}">
                                <img src="../img/office2.jpg" ng-src="{{listNewOffice[1].images[0]}}" height="215" style="margin-left: 10px" width="49%">

                                <div class="item-detail" style="left:10px; width: 98%">
                                    <div class="item-city">{{listNewOffice[1].name}}</div>
                                    <div class="item-description">{{listNewOffice[1].description}}</div>
                                    <div class="item-district">{{listNewOffice[1].address}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="second-row">
                        <div class="item">
                            <a href="#/detail/{{listNewOffice[2].id}}">
                                <img src="../img/office1.jpg" ng-src="{{listNewOffice[2].images[0]}}" height="215" width="49%">

                                <div class="item-detail" style="width: 99%">
                                    <div class="item-city">{{listNewOffice[2].name}}</div>
                                    <div class="item-description">{{listNewOffice[2].description}}</div>
                                    <div class="item-district">{{listNewOffice[2].address}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#/detail/{{listNewOffice[3].id}}">
                                <img src="../img/office2.jpg" ng-src="{{listNewOffice[3].images[0]}}" height="215" style="margin-left: 10px" width="49%">

                                <div class="item-detail" style="left:10px; width: 98%">
                                    <div class="item-city">{{listNewOffice[3].name}}</div>
                                    <div class="item-description">{{listNewOffice[3].description}}</div>
                                    <div class="item-district">{{listNewOffice[3].address}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 large-item">
                    <a href="#/detail/{{listNewOffice[4].id}}">
                        <img src="../img/office3.jpg" ng-src="{{listNewOffice[4].images[0]}}" width="100%" height="450">

                        <div class="item-detail">
                            <div class="item-city">{{listNewOffice[4].name}}</div>
                            <div class="item-description">{{listNewOffice[4].description}}</div>
                            <div class="item-district">{{listNewOffice[4].address}}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
