<link rel="stylesheet" type="text/css" href="../css/login.css"/>
<div class="container" id="loginform">
    <div id="login">
        <!--<h1><img src="../img/logo-black.png"></h1>-->
        <form name="form">
            <p>
                <label>Tên tài khoản</br>
                    <input type="text" size="20" required ng-model="username">
                </label>
            </p>

            <p>
                <label>Mật khẩu</br>
                    <input type="password" size="20" required ng-model="password">
                </label>
            </p>

            <p>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember">Giữ trạng thái đăng nhập
                </label>
            </div>
            <!--<input name="login" value="Log In" type="submit" class="submit">-->
            <button ng-click='login(form)'>Đăng nhập</button>
            </p>
            <div ng-show="error!=null" class="error">{{error}}</div>
        </form>
        <div class="other">
            <p>
                <a href="">Quên mật khẩu</a>
            </p>
        </div>
    </div>
</div>