<link rel="stylesheet" href="../css/viewlistdetailoffice.css" type="text/css">
<link rel="stylesheet" href="../css/resultRequestOffice.css">
<body>
<div class="container">
    <div class="main-wrapper result-request-office-wrapper">
        <div class="">
            <div class="clearfix">
                <div class="col-sm-6 col-md-6" style="padding: 5px">
                    <span class="col-md-2">Địa chỉ</span>

                    <div class="col-md-10">
                        <input type="text" ng-model="searchKey" style="width: 80%"
                               placeholder="quận, huyện, địa chỉ,..." googleplace/>
                        <input type="hidden" ng-model="searchTerm.latitude" id="latitude">
                        <input type="hidden" ng-model="searchTerm.longitude" id="longitude">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4" style="padding: 0">
                    <span class="col-md-4">Khoảng giá</span>
                    <div class="col-md-8">
                        <input type="text" ng-model="price" real-time-currency style="width: 100%"/>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <button class="btn btn-green" style="width: 100%" ng-click="searchOffice()">
                        Tìm kiếm
                    </button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a href data-toggle="collapse" data-parent="#accordion" ng-click="isCollapsed = !isCollapsed"
                           aria-expanded="true" aria-controls="collapseOne">
                            Lọc theo danh sách tiện nghi
                            <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse in" role="tabpanel" aria-labelledby="headingOne"
                     collapse="isCollapsed" style="height: auto;">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="amenity in amenityWeight track by $index" class="col-sm-3">
                                <label>
                                    <input type="checkbox" ng-model="q[$index]" value="{{$index}}"> {{amenity.amenity}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="quat" style= margin:auto;" class="">
            <div ng-show="filteredOffices.length==0">
                <h2>Không có văn phòng phù hợp</h2>
                <a href="#requestOffice">Đặt văn phòng?</a>
            </div>
            <div ng-repeat="office in filteredOffices" class="row item">

                <div class="col-md-3 item-image"
                     style="background: url('{{office.images[0]}}');background-repeat: no-repeat;background-size: 100% 100%;">
                    <!--<img src="{{office.images[0]}}">-->
                </div>
                <div class="col-md-6 item-detail">
                    <div class="item-title">
                        <a href="#/detail/{{office.id}}">{{office.name}}</a>
                    </div>
                    <div class="item-address">{{office.address}}</div>
                    <div>{{office.description}}</div>
                    <div class="row" style="margin: auto">
                        <div class="col-md-6" ng-repeat="amenity in office.amenityList track by $index">{{amenity}}</div>
                    </div>
                </div>
                <div class="col-md-3 item-price">
                    <div class="item-category">{{office.category}}</div>
                    <div class="item-price-money" ng-if="office.priceTerm=='Nguyên căn'">{{office.price | currency:'VND':0}}
                        <div class="item-price-term">Trên {{office.area}} m<sup>2</sup>/ tháng</div>
                    </div>
                    <div class="item-price-money" ng-if="office.priceTerm!='Nguyên căn'">
                        <span ng-if="office.price">{{office.price | currency:'VND':0}}</span>
                        <span ng-if="!office.price">Liên hệ</span>

                        <div class="item-price-term" ng-if="office.price"
                             ng-bind-html="office.priceTerm+' / Tháng' | m2"></div>
                    </div>
                    <div class="item-detail-button"><a href="#/detail/{{office.id}}">Chi tiết</a></div>
                    <!--<div class="item-price-term">{{office.priceTerm}}</div>-->
                </div>
            </div>
            <!--end left-wrapper-->
            <pagination total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage"
                        previous-text="&laquo;" next-text="&raquo;"></pagination>
        </div>

        <div id="right-wrapper" class="hidden">
            <div id="one">
                <input type="text" placeholder="tìm kiếm...">
                <select>
                    <option>Viet Nam</option>
                    <option>Binh Duong</option>
                    <option>Viet Nam</option>
                </select>
            </div>
            <div id="two">
                <p>Danh sách tiện nghi</p>
                <label>
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Furnished offices (3)
                </label>
                <label>
                    <input type="checkbox" id="inlineCheckbox2" value="option1"> Furnished offices (3)
                </label>
                <label>
                    <input type="checkbox" id="inlineCheckbox3" value="option1"> Furnished offices (3)
                </label>
                <label>
                    <input type="checkbox" id="inlineCheckbox4" value="option1"> Furnished offices (3)
                </label>
                <label>
                    <input type="checkbox" id="inlineCheckbox5" value="option1"> Furnished offices (3)
                </label>

                <div id="more"><a href="#">Thêm tiện nghi</a></div>
                <div id="up"><a href="#">Tìm kiếm</a></div>
            </div>
            <div id="three"></div>
            <div id="four"></div>
        </div>
        <!--end right-wrapper-->
    </div>
    <!--end main-wrapper-->
</div>


