<!--<%&#45;&#45;-->
<!--Created by IntelliJ IDEA.-->
<!--User: Tuan-->
<!--Date: 6/7/2015-->
<!--Time: 11:44 AM-->
<!--To change this template use File | Settings | File Templates.-->
<!--&#45;&#45;%>-->
<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
    <!--<link rel="stylesheet" href="../lib/jquery.bxslider/jquery.bxslider.css"-->
          <!--type="text/css">-->
    <!--<link rel="stylesheet" href="../lib/jquery.bxslider/jquery.bxslider.js"-->
          <!--type="text/css">-->
    <link rel="stylesheet" href="../css/viewlistdetailoffice.css"
          type="text/css">
<body>
<div class="container">
    <div class="main-wrapper">
        <div id="quat" style="width: 850px">
            <div ng-repeat="item in listSearchedOffice" class="left-wrapper">
                <div class="left-detail">
                    <img src="../img/office.jpg" ng-src="{{item.images[0]}}">
                </div><!--lend left-detail-->
                <div class="center-detail">
                    <a href="#/detail/{{item.id}}">{{item.address}}</a>
                    <p>{{item.description}}</p>
                    <div class="menu">
                        <ul class="left">
                            <li ng-repeat="amenity in item.amenityList">{{amenity}}</li>
                        </ul>
                    </div><!--lend menu-->
                </div>
                <div class="right-detail">
                    <h4>{{item.category}}</h4>

                    <div class="price" ng-if="item.priceTerm=='Nguyên căn'">{{item.price  | currency:'VND / Tháng'}}</div>
                    <div class="price" ng-if="item.priceTerm!='Nguyên căn'">
                        <span ng-if="item.price">{{item.price | currency:'VND':0}}</span>
                        <span ng-if="!item.price">Liên hệ</span>
                        <div class="price-detail" ng-if="item.price" ng-bind-html="item.priceTerm+' / Tháng' | m2"></div>
                    </div>
                    <div class="VD"><a href="#/detail/{{item.id}}">Chi tiết</a></div>
                </div>
            </div>
            <!--end left-wrapper-->
        </div>

        <div id="right-wrapper" class="hidden">
            <div id="one">
                <input type="text" placeholder="tìm kiếm...">
                <select>
                    <option>Viet Nam</option>
                    <option>Binh Duong</option>
                    <option>Viet Nam</option>
                </select>
            </div>
            <div id="two">
                <p>Danh sách tiện nghi</p>
                <label>
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Furnished offices (3)
                </label>
                <label>
                    <input type="checkbox" id="inlineCheckbox2" value="option1"> Furnished offices (3)
                </label>
                <label>
                    <input type="checkbox" id="inlineCheckbox3" value="option1"> Furnished offices (3)
                </label>
                <label>
                    <input type="checkbox" id="inlineCheckbox4" value="option1"> Furnished offices (3)
                </label>
                <label>
                    <input type="checkbox" id="inlineCheckbox5" value="option1"> Furnished offices (3)
                </label>
                <div id="more"><a href="#">Thêm tiện nghi</a></div>
                <div id="up"><a href="#">Tìm kiếm</a></div>
            </div>
            <div id="three"></div>
            <div id="four"></div>
        </div><!--end right-wrapper-->
    </div><!--end main-wrapper-->
</div>


