<link rel="stylesheet" type="text/css" href="/css/request.css"/>

<div class="modal-header">
    <h3 class="modal-title">Đăng kí</h3>
</div>
<form name="form">
    <div class="modal-body">

        <div class="form-group">
            <label for="username">Tên đăng nhập (*)</label>
            <input type="text" required ng-model="user.username" class="form-control" id="username" name="username">
                <span class="error" ng-show="form.username.$dirty && form.username.$invalid">
                    <span ng-show="form.username.$error.required">Bắt buộc</span>
                </span>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu (*)</label>
            <input type="password" required ng-model="user.password" class="form-control" id="password" name="password">
                <span class="error" ng-show="form.password.$dirty && form.password.$invalid">
                    <span ng-show="form.password.$error.required">Bắt buộc</span>
                </span>
        </div>
        <div class="form-group">
            <label for="mail">E-mail (*)</label>
            <input type="email" required ng-model="user.mail" class="form-control" id="mail" name="email">
                <span class="error" ng-show="form.email.$dirty && form.email.$invalid">
                    <span ng-show="form.email.$error.required">Bắt buộc</span>
                    <span ng-show="form.email.$error.email">Email không hợp lệ</span>
                </span>
        </div>
        <div class="form-group">
            <label for="title">Xưng hô</label>
            <select ng-model="user.title" class="form-control" id="title">
                <option value=""></option>
                <option value="Ông">Ông</option>
                <option value="Bà">Bà</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fullname">Họ và tên (*)</label>
            <input type="text" ng-model="user.fullname" class="form-control" id="fullname" name="fullname" required>
                <span class="error" ng-show="form.fullname.$dirty && form.fullname.$invalid">
                    <span ng-show="form.fullname.$error.required">Bắt buộc</span>
                </span>
        </div>
        <div class="form-group">
            <label for="company">Công ty</label>
            <input type="text" ng-model="user.company" class="form-control" id="company" value="">
        </div>
        <div class="form-group">
            <label for="phone">Số điện thoại (*)</label>
            <input type="text" ng-model="user.phone" class="form-control" id="phone" required
                   ng-pattern="/^\d{10,11}$/">
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input type="text" ng-model="user.address" class="form-control" id="address" value="">
        </div>
        <div class="form-group">
            <label for="birthday">Ngày sinh</label>
            <input type="date" ng-model="user.birthday" class="form-control" id="birthday" name="birthday" required>
                <span class="error" ng-show="form.birthday.$dirty && form.birthday.$invalid">
                    <span ng-show="form.birthday.$error.date">Ngày không hợp lệ</span>
                </span>
        </div>
        <input type="hidden" class="g-recaptcha" ng-model="user.captcha" required id="captcha" name="captcha">
        <span class="error" ng-show="form.captcha.$dirty && form.captcha.$invalid">
                    <span ng-show="form.captcha.$error">Mời nhập captcha</span>
                </span>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="form.$invalid" ng-click='register(form)' class="btn btn-green">Đăng ký
        </button>

        <button type="reset" ng-click='cancel' class="btn">Hủy</button>
        <pre>
                {{user | json}}
            </pre>
    </div>
</form>