<div class="rental-cart-wrapper">
    <div class="container">
        <h2>Danh sách thuê vật dụng</h2>
        <table class="table">
            <thead>
            <tr>

                <th>Vật dụng</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng giá</th>
                <th></th>

            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="item in listItems">

                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.unitPrice}} VNĐ</td>
                <td><input class="form-control input-lg" type="number" ng-model="item.quantity" value="{{item.quantity}}"></td>
                <td>{{item.unitPrice * item.quantity}} VNĐ</td>
                <td><i ng-click="removeFromCart(item)" style="color: red;cursor: pointer;" class="fa fa-times fa-3x"></i></td>
            </tr>

            </tbody>
        </table>

        <div class="row">
            <div class="col-md-2">Mô tả</div>
            <div class="col-md-10">
                <textarea ng-model="description" rows="5" style="width: 100%"></textarea>
            </div>
        </div>

        <div style="text-align: right">
            <div class="btn btn-green" ng-click="requestRental()">Gửi yêu cầu</div>
            <div class="btn btn-default" onclick="window.history.back()">Quay về</div>
        </div>
    </div>
</div>