<div class="container" ng-show="RightCus">
    <h1>Văn phòng: {{data[0].officeName}} </h1>
    <br>
    <h2>Danh sách thuê thiết bị </h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Thiết bị</th>
            <th>Ngày tạo yêu cầu</th>
            <th>Tình trạng</th>
            <th>Ngày giao thiết bị</th>
            <th>Mô tả yêu cầu</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="item in data">
            <td style="max-width: 100%">
            <span ng-repeat="rentalItem in item.list track by $index">{{rentalItem}}<span ng-if="$index < item.list.length - 1">,</span> </span>
            </td>
            <td ng-if="item.createTime != 0">{{item.createTime | date:'dd-MM-yyyy'}}</td>
            <td>{{item.status}}</td>
            <td><span ng-show="item.assignedTime">{{item.assignedTime | date:'dd-MM-yyyy'}}</span></td>
            <td>{{item.description}}</td>
            <td><a class="btn btn-green" ng-click="rentalDetail(item.rentalId)">Xem chi tiết</a></td>
        </tr>

        </tbody>
    </table>
</div>

<div class="container" ng-show="WrongCus">
    <h2>Bạn không sở hữu hợp đồng này!</h2>
    <br>
    <br>
    <div class="button-post">
        <a href="#/home" class="btn btn-green">Quay về trang chủ</a> <br>
    </div>
</div>

<div class="container" ng-show="!isLogin">
    <h2>Vui lòng đăng nhập để xem thông tin</h2>
    <br>
    <br>
    <div class="button-post">
        <a href="#/home" class="btn btn-green">Quay về trang chủ</a> <br>
    </div>
</div>

<div class="container" ng-show="!Rental">
    <h2>Bạn chưa có yêu cầu thuê thiết bị nào</h2>
    <br>
    <br>
    <div class="button-post">
        <a href="#/home" class="btn btn-green">Quay về trang chủ</a> <br>
    </div>
</div>