<link rel="stylesheet" type="text/css" href="/css/request.css"/>
<link rel="stylesheet/less" href="/css/office.less" type="text/css">

<div class="container">

    <div class="left-request">
        <div class="title">
            Đặt văn phòng
        </div>
        <div class="office clearfix">
            <div class="img">
                <img src="/img/office.jpg">
            </div>
        </div>
    </div>
    <div class="right-request" id="info" ng-show="!isLogin">
        <div class="info">
            <p>Nếu đã có tài khoản, mời bạn đăng nhập</p>

            <p>Nếu chưa có tài khoản, mời bạn nhập thông tin chính xác để chúng tôi có thể liên lạc với bạn</p>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" ng-click="isCollapsed = !isCollapsed"
                           aria-expanded="true" aria-controls="collapseOne">
                            Đã có tài khoản
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"
                     collapse="isCollapsed">
                    <div class="panel-body">
                        <form name="form" ng-submit="login(form)">
                            <div class="form-group">
                                <label for="username">Tên đăng nhập</label>
                                <input type="text" name="username" class="form-control" id="username"
                                       ng-model="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Mật khẩu</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       ng-model="password" required>
                            </div>
                            <div class="error">{{error}}</div>
                            <div class="button-post">
                                <button type="button" ng-click="login(form)" class="btn btn-green">
                                    Đăng nhập
                                </button>
                                <button type="reset" class="btn" value="cancel" name="action">Hủy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           ng-click="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="collapseTwo">
                            Chưa có tài khoản
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                     collapse="!isCollapsed">
                    <div class="panel-body">
                        <form name="registerForm" >
                            <div class="form-group">
                                <label for="username1">Tên đăng nhập (*)</label>
                                <input type="text" required ng-model="user.username" class="form-control" id="username1"
                                       name="username">
                                <span class="error" ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
                                    <span ng-show="registerForm.username.$error.required">Bắt buộc</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password1">Mật khẩu (*)</label>
                                <input type="password" required ng-model="user.password" class="form-control"
                                       id="password1" name="password">
                                <span class="error" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                                    <span ng-show="registerForm.password.$error.required">Bắt buộc</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="mail">E-mail (*)</label>
                                <input type="email" required ng-model="user.mail" class="form-control" id="mail" name="email">
                                <span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                                    <span ng-show="registerForm.email.$error.required">Bắt buộc</span>
                                    <span ng-show="registerForm.email.$error.email">Email không hợp lệ</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="title">Xưng hô</label>
                                <select ng-model="user.title" class="form-control" id="title">
                                    <option value=""></option>
                                    <option value="Ông">Ông</option>
                                    <option value="Bà">Bà</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fullname">Họ và tên (*)</label>
                                <input type="text" ng-model="user.fullname" class="form-control" id="fullname" name="fullname" required>
                                <span class="error" ng-show="registerForm.fullname.$dirty && registerForm.fullname.$invalid">
                                    <span ng-show="registerForm.fullname.$error.required">Bắt buộc</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="company">Công ty</label>
                                <input type="text" ng-model="user.company" class="form-control" id="company" value="">
                            </div>
                            <div class="form-group">
                                <label for="phone">Số điện thoại (*)</label>
                                <input type="text" ng-model="user.phone" class="form-control" id="phone" value="" required
                                       ng-pattern="/^\d{10,11}$/">
                            </div>
                            <div class="form-group">
                                <label for="address">Địa chỉ</label>
                                <input type="text" ng-model="user.address" class="form-control" id="address" value="">
                            </div>
                            <div class="form-group">
                                <label for="birthday">Ngày sinh</label>
                                <input type="date" ng-model="user.birthday" class="form-control" id="birthday" value="" name="birthday">
                                <span class="error" ng-show="registerForm.birthday.$dirty && registerForm.birthday.$invalid">
                                    <span ng-show="registerForm.birthday.$error.date">Ngày không hợp lệ</span>
                                </span>
                            </div>
                            <div class="button-post">
                                <button type="button" ng-click='register(registerForm)' class="btn btn-green">Đăng ký
                                </button>

                                <button type="reset" class="btn">Hủy</button>
                            </div>
                            <div ng-show="error!=null" class="error">{{error}}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right-request" id="appointment" ng-show="isLogin">
        <div class="info">
            <p>Điền thông tin văn phòng bạn muốn thuê vào các ô sau.</p>

            <p>Chúng tôi sẽ báo với bạn trong thời gian sớm nhất qua tin nhắn.</p>
        </div>
        <form name="requestOfficeForm">
            <div class="form-group">
                <label for="category">Loại văn phòng</label>
                <select ng-model="reOffice.category" class="form-control" id="category" required>
                    <option value=""></option>
                    <option value="1">Văn phòng nguyên căn</option>
                    <option value="2">Tòa nhà văn phòng</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Giá (VNĐ)</label>
                <input type="number" ng-model="reOffice.price" class="form-control" id="price" required>
            </div>
            <div class="form-group">
                <label for="area">Diện tích (m2)</label>
                <input type="number" ng-model="reOffice.area" class="form-control" id="area" required>
            </div>
            <div class="form-group">
                <label for="district">Quận</label>
                <input type="text" ng-model="reOffice.district" typeahead="district for district in districts | filter:$viewValue"
                       class="form-control" id="district" required>
            </div>
            <div class="form-group clearfix">
                <label for="amenity">Danh sách tiện nghi</label><br>

                <div class="clear-float" id="amenity-list">

                </div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control typeahead" autocomplete="off" ng-model="amenityInput"
                               id="amenity" style="width: 355px;" typeahead="amenity for amenity in amenities | filter:$viewValue | limitTo:8" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="add()" type="button">Thêm</button>
                                    </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <div class="button-post">

                <ul>
                    <li ng-repeat="amenityList in reOffice.amenityList" ng-click="remove(idx)">{{amenityList}}</li>
                </ul>

                <button type="submit" ng-click="requestOffice(requestOfficeForm)" class="btn btn-green" value="save"
                        name="action">Đặt văn phòng
                </button>
                <button type="reset" ng-click="back()" class="btn" value="cancel" name="action">Hủy</button>
                <div ng-show="error!=null" class="error">{{error}}</div>
            </div>
        </form>
    </div>
</div>



