<link rel="stylesheet" type="text/css" href="/css/request.css"/>
<link rel="stylesheet/less" href="/css/office.less" type="text/css">

<div class="container">

    <div class="left-request">
        <div class="title">
            Đặt văn phòng
        </div>
        <div class="office clearfix">
            <div class="img">
                <img src="/img/office.jpg">
            </div>
        </div>
    </div>
    <div class="right-request" id="info" ng-show="!isLogin">
        <div class="info">
            <p>Nếu đã có tài khoản, mời bạn đăng nhập</p>

            <p>Nếu chưa có tài khoản, mời bạn nhập thông tin chính xác để chúng tôi có thể liên lạc với bạn</p>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" ng-click="isCollapsed = !isCollapsed"
                           aria-expanded="true" aria-controls="collapseOne">
                            Đã có tài khoản
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"
                     collapse="isCollapsed">
                    <div class="panel-body">
                        <form name="form">
                            <div class="form-group">
                                <label for="username">Tên đăng nhập</label>
                                <input type="text" name="username" class="form-control" id="username"
                                       ng-model="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Mật khẩu</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       ng-model="password" required>
                            </div>
                            <div class="error">{{error}}</div>
                            <div class="button-post">
                                <button type="button" ng-click="login(form)" class="btn btn-green">
                                    Đăng nhập
                                </button>
                                <button type="reset" class="btn" value="cancel" onclick="window.history.back()">Hủy
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           ng-click="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="collapseTwo">
                            Chưa có tài khoản
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                     collapse="!isCollapsed">
                    <div class="panel-body">
                        <form name="registerForm">
                            <div class="form-group">
                                <label for="username1">Tên đăng nhập (*)</label>
                                <input type="text" required ng-model="user.username" class="form-control" id="username1"
                                       name="username" ng-minlength="3" ng-maxlength="50">
                                <span class="error"
                                      ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
                                    <span ng-show="registerForm.username.$error.required">Bắt buộc</span>
                                    <span ng-show="registerForm.username.$error.minlength">Nhập ít nhất 3 ký tự</span>
                                    <span ng-show="registerForm.username.$error.maxlength">Số ký tự tối đa là 50</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password1">Mật khẩu (*)</label>
                                <input type="password" required ng-model="user.password" class="form-control"
                                       id="password1" name="password" ng-minlength="8" ng-maxlength="20">
                                <span class="error"
                                      ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                                    <span ng-show="registerForm.password.$error.required">Bắt buộc</span>
                                    <span ng-show="registerForm.password.$error.minlength">Nhập ít nhất 8 ký tự</span>
                                    <span ng-show="registerForm.password.$error.maxlength">Số ký tự tối đa là 20</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="mail">E-mail (*)</label>
                                <input type="email" required ng-model="user.mail" class="form-control" id="mail"
                                       name="email" ng-maxlength="30">
                                <span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                                    <span ng-show="registerForm.email.$error.required">Bắt buộc</span>
                                    <span ng-show="registerForm.email.$error.email">Email không hợp lệ</span>
                                    <span ng-show="registerForm.email.$error.maxlength">Số ký tự tối đa là 30</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="title">Xưng hô</label>
                                <select ng-model="user.title" class="form-control" id="title">
                                    <option value=""></option>
                                    <option value="Ông">Ông</option>
                                    <option value="Bà">Bà</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fullname">Họ và tên (*)</label>
                                <input type="text" ng-model="user.fullname" class="form-control" id="fullname"
                                       name="fullname" required ng-minlength="6" ng-maxlength="50">
                                <span class="error"
                                      ng-show="registerForm.fullname.$dirty && registerForm.fullname.$invalid">
                                    <span ng-show="registerForm.fullname.$error.required">Bắt buộc</span>
                                    <span ng-show="registerForm.fullname.$error.minlength">Nhập ít nhất 6 ký tự</span>
                                    <span ng-show="registerForm.fullname.$error.maxlength">Số ký tự tối đa là 50</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="company">Công ty</label>
                                <input type="text" ng-model="user.company" class="form-control" id="company"
                                       name="company" ng-maxlength="50">
                                <span class="error"
                                      ng-show="registerForm.company.$dirty && registerForm.company.$invalid">
                                    <span ng-show="registerForm.company.$error.maxlength">Số ký tự tối đa là 50</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="phone">Số điện thoại (*)</label>
                                <input type="text" ng-model="user.phone" class="form-control" id="phone" required
                                       name="phone"
                                       ng-pattern="/^\d{10,11}$/" ng-minlength="10" ng-maxlength="11">
                                <span class="error" ng-show="registerForm.phone.$dirty && registerForm.phone.$invalid">
                                    <span ng-show="registerForm.phone.$error.required">Bắt buộc</span>
                                    <span ng-show="registerForm.phone.$error.minlength">Nhập ít nhất 10 ký tự</span>
                                    <span ng-show="registerForm.phone.$error.maxlength">Số ký tự tối đa là 11</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="address">Địa chỉ</label>
                                <input type="text" ng-model="user.address" class="form-control" id="address"
                                       name="address" ng-maxlength="100">
                                <span class="error"
                                      ng-show="registerForm.address.$dirty && registerForm.address.$invalid">
                                    <span ng-show="registerForm.address.$error.maxlength">Số ký tự tối đa là 100</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="birthday">Ngày sinh</label>
                                <input type="date" ng-model="user.birthday" class="form-control" id="birthday"
                                       name="birthday" required>
                                <span class="error"
                                      ng-show="registerForm.birthday.$dirty && registerForm.birthday.$invalid">
                                    <span ng-show="registerForm.birthday.$error.date">Ngày không hợp lệ</span>
                                </span>
                            </div>
                            <div class="g-recaptcha" id="captcha3"></div>
                            <input type="hidden" ng-model="user.captcha3" name="captcha3">
                            <span class="error"
                                  ng-show="registerForm.captcha3.$dirty && registerForm.captcha3.$invalid">
                                <span ng-show="registerForm.captcha3.$error">Mời nhập captcha</span>
                            </span>

                            <div class="button-post">
                                <button type="button" ng-disabled="registerForm.$invalid"
                                        ng-click='register(registerForm)' class="btn btn-green">Đăng ký
                                </button>

                                <button type="button" class="btn" onclick="window.history.back()">Hủy</button>
                            </div>
                            <div ng-show="error!=null" class="error">{{error}}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right-request" id="appointment" ng-show="isLogin">
        <div class="info">
            <p>Điền thông tin văn phòng bạn muốn thuê vào các ô sau.</p>

            <p>Chúng tôi sẽ báo với bạn trong thời gian sớm nhất qua mail.</p>
        </div>
        <form name="requestOfficeForm">
            <div class="form-group">
                <label for="price">Giá thuê/m<sup>2</sup> (VNĐ)</label>
                <input type="text" real-time-currency ng-model="reOffice.price" class="form-control" id="price" required name="price" min="0">
                <span class="error" ng-show="requestOfficeForm.price.$dirty && requestOfficeForm.price.$invalid">
                    <span ng-show="requestOfficeForm.price.$error.required">Bắt buộc</span>
                    </span>
            </div>
            <div class="form-group">
                <label for="area">Diện tích (m<SUP>2</SUP>)</label>
                <input type="number" ng-model="reOffice.area" class="form-control" id="area" required name="area" min="0">
                <span class="error" ng-show="requestOfficeForm.area.$dirty && requestOfficeForm.area.$invalid">
                    <span ng-show="requestOfficeForm.area.$error.required">Bắt buộc</span>
                    </span>
            </div>
            <div class="form-group">
                <label for="district">Quận</label>
                <select class="form-control" ng-model="reOffice.district" id="district" name="district"
                        ng-options="option for option in districts track by option" required>
                </select>
                <!--<input type="text" ng-model="reOffice.district"-->
                       <!--typeahead="district for district in districts | filter:$viewValue"-->
                       <!--class="form-control" id="district" required name="district">-->
                <span class="error" ng-show="requestOfficeForm.district.$dirty && requestOfficeForm.district.$invalid">
                    <span ng-show="requestOfficeForm.district.$error.required">Bắt buộc</span>
                    </span>
            </div>
            <div class="form-group clearfix" style="margin-bottom: 5px">
                <label for="amenity">Danh sách tiện nghi</label><br>

                <div class="clear-float" id="amenity-list">

                </div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control typeahead" autocomplete="off" ng-model="amenityInput"
                               id="amenity" style="width: 355px;"
                               typeahead="amenity for amenity in amenities | filter:$viewValue | limitTo:8">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="add()" type="button">Thêm</button>
                                    </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <div class="button-post">

                <ul>
                    <li class="amenity-item" ng-repeat="amenityList in reOffice.amenityList">{{amenityList}}<span class="fa fa-remove" style="color: red; margin-left: 5px;cursor: pointer" ng-click="remove(idx)"></span></li>
                </ul>

                <button type="submit" ng-disabled="requestOfficeForm.$invalid" ng-click="requestOffice(requestOfficeForm)" class="btn btn-green" value="save"
                        name="action" ng-class="{'disabled':clicked==true}">Đặt văn phòng
                </button>
            </div>
        </form>
    </div>
</div>



