<link rel="stylesheet" type="text/css" href="../css/requestrepair.css"/>
<link rel="stylesheet" type="text/css" href="../lib/bootstrap-3.3.4-dist/css/bootstrap.css"/>
<div class="container" id="descriptionRepair">
    <h2 class="descriptionRepair">Yêu cầu sửa chữa</h2>

    <div class="descriptionRepair">
        <label class="labelleft">Tên văn phòng:</label>
        <span class="spanleft">{{officeName}}</span>
    </div>

    <div class="descriptionRepair" hidden>
        <label class="labelleft">Sửa chữa:</label>
        <span class="spanleft">
            <select>
                <option>Thiết bị thuê thêm</option>
                <option>Tiện ích văn phòng</option>
            </select>
        </span>
    </div>
    <form name="form">
        <div class="descriptionRepair">
            <label class="labelleft">Sửa chữa:</label>
        <span class="spanleft">
            <div class="checkbox" ng-repeat="amenity in amenities">
                <label><input type="checkbox" ng-click="toggleSelection(amenity)" value="{{amenity}}">{{amenity}}</label>
            </div>
        </span>
        </div>
        <div class="descriptionRepair">
            <label class="labelleft">Mô tả yêu cầu sửa chữa:</label>
            <span class="spanleft"><textarea ng-model="description" required></textarea></span>
        </div>
        <div class="descriptionRepair">
            <button ng-click="submit(form)" class="btn btn-default">Gửi yêu cầu</button>
        </div>
    </form>



</div>