<div ng-include="'html/header.html'"></div>
<div class="content">
    <div class="item-detail">
        <div>
            <img ng-src="{{data.images[0]}}" width="100%" style="min-height: 120px;max-height: 200px">
        </div>
        <div class="line">
            <div class="left-side">Tên văn phòng:</div>
            <div class="right-side">{{data.officeName}}</div>
        </div>
        <div class="line">
            <div class="left-side">Địa chỉ:</div>
            <div class="right-side">{{data.address}}</div>
            <div class="right-link">
                <a href="geo:{{data.latitude}},{{data.longitude}}?q={{data.latitude}},{{data.longitude}}({{data.address | encode}})">Mở
                    trên ứng dụng bản đồ</a>
            </div>
        </div>

        <div class="line">
            <div class="left-side">Khách hàng:</div>
            <div class="right-side">{{data.customerName}}</div>
        </div>
        <div ng-show="type!='lịch hẹn'" class="line">
            <div class="left-side">Chi tiết {{type}}:</div>
            <div class="right-side">{{data.detail}}</div>
        </div>
        <div class="line">
            <div class="left-side">Thời gian:</div>
            <div ng-show="type!='lịch hẹn'" class="right-side">{{data.date | toLocaleDate}}</div>
            <div ng-show="type=='lịch hẹn'" class="right-side">{{data.date | toLocaleDateTime}}</div>
            <span ng-show="type!='sửa chữa' && !showBtn">(Còn khoảng {{diff}} đến công việc)</span>
        </div>
        <div ng-show="type!='lịch hẹn'" class="line">
            <div class="left-side">Danh sách {{type}}:</div>
            <ul>
                <li ng-repeat="item in data.list">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>

    <div class="item-detail">
        <div class="line bold">Trạng thái:
            <div class="item inline">
                <div class="color" ng-class="data.statusClass"></div>
                <div class="description">{{data.statusName}}</div>
            </div>
        </div>
        <div ng-show="type=='lịch hẹn'" class="buttons">
            <div ng-show="data.status==2 && showBtn">
                <button class="detail-button confirm" ng-click="change(3)"><i class="fa fa-check fa-2x"></i>
                    <span>Khách hàng muốn kí hợp đồng</span></button>
                <button class="detail-button reject" ng-click="change(5)"><i class="fa fa-times fa-2x"></i>
                    <span>Khách hàng không đồng ý</span></button>
                <br>
            </div>
            <div ng-show="data.status==2 && !showBtn" style="text-align: center; color: #ef4836">
                <i class="fa fa-warning"></i> Chưa tới thời gian lịch hẹn
            </div>
        </div>
        <div ng-show="type!='lịch hẹn'" class="buttons">
            <div ng-show="data.status==2 && type!='sửa chữa'">
                <button class="detail-button confirm" ng-click="change(5)"><i class="fa fa-check fa-2x"></i>
                    <span>Đồng ý giao hàng</span></button>
                <button class="detail-button reject" ng-click="change(1)"><i class="fa fa-times fa-2x"></i>
                    <span>Không đồng ý</span></button>
                <br>
            </div>
            <div ng-show="data.status==5 && showBtn">
                <button class="detail-button confirm" ng-click="change(3)">
                    <span><i class="fa fa-check fa-2x"></i>
                        <span>Khách hàng hài lòng</span></span></button>
                <div ng-show="type!='sửa chữa'">
                    <button class="detail-button reject" ng-click="change(1)">
                    <span><i class="fa fa-times fa-2x"></i>
                        <span>Khách hàng không hài lòng</span></span></button>
                </div>
                <div ng-show="type=='sửa chữa'">
                    <button class="detail-button reject" ng-click="change(2)">
                    <span><i class="fa fa-times fa-2x"></i>
                        <span>Khách hàng không hài lòng</span></span></button>
                </div>
                <br>
            </div>
            <div ng-show="data.status==5 && !showBtn" style="text-align: center; color: #ef4836">
                <i class="fa fa-warning"></i> Chưa tới thời gian công việc
            </div>
        </div>
    </div>
</div>