<div ng-include="'html/header.html'"></div>
<div class="legend">
    <div class="legend-icon fa fa-question-circle fa-3x" ng-click="showLegend = !showLegend"></div>
</div>
<div class="content">
    <div class="popup" ng-class="{'show' : showLegend}">
        <div ng-repeat="item in legends" class="item">
            <div ng-show="item.name" class="color" ng-class="item.name"></div>
            <div ng-show="item.name" class="description">{{item.description}}</div>
        </div>
    </div>
    <div ng-click="showLegend=false">
        <div ng-if="data.length == 0" style="font-style: italic;">
            {{title}} rỗng
        </div>
        <div class="list-item" ng-click="direction();goto(item.id)" ng-repeat="item in data track by $index">
            <div class="item-image">
                <img src="{{item.images[0]}}" style="min-height: 100px" width="100%"/>
            </div>
            <div class="item-description">
                <div class="title">
                    {{item.officeName}}
                </div>
                <div class="address" style="padding: 5px 0;">
                    {{item.address}}
                </div>
                <div class="detail" style="float: left">
                    {{item.detail}}
                </div>
                <div class="date" style="float: right">
                    {{item.date | toLocaleDate}}
                </div>
                <div class="status" ng-class="item.statusName"></div>
            </div>
        </div>
    </div>

</div>