<div class="black">
    <div class="login-logo">
        <img class='logo' src='/img/logo-white.png' />
    </div>
    <form name="form" class='login clearfix'>

        <p class='large'>Office Rental Service</p>

        <input type='text' placeholder='Username' autofocus required ng-model="username"/>

        <input type='password' placeholder='Password' required ng-model="password"/>

        <div ng-show="error!=null" class="error">{{error}}</div>
        <div style="text-align: center">
            <button class='clearfix' type="submit" ng-click='direction();login(form)'>Đăng nhập</button>
        </div>

    </form>
</div>